@font-face {
    font-family: "main-font";
    src: url("../static/fonts/Orbitron-ExtraBold.ttf");
}

@font-face {
    font-family: "code-font";
    src: url("../static/fonts/RobotoMono-Bold.ttf");
}


canvas{
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position:absolute;
}

a{ text-decoration: none;color: white;}
a:visited {color: white;}
a:active {color:white;}

.progress-bar-container {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgb(48, 107, 109);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "main-font";
}

#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

label {
   color: white; 
   font-size: 2rem;
}

.nav-panel{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 2vw;
}

.nav-panel button:hover {
    color:#68f8d9;
    text-shadow:1px 1px 10px #68f8d9, 1px 1px 10px #fff;
    cursor: pointer;
}

.nav-panel button{
    font-family: "main-font";
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    margin-top: 20px;
}

.section {
background-color: rgb(0, 0, 0,0.8);
color: white;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width: 400px;
height: 300px;
display:none;
flex-direction: column;
border-radius: 3px;
border-color: rgb(255, 255, 255);
border-width: 0.01px;
border-style: groove;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-title{
    background-color: rgb(87, 127, 139);
    width: 100%;
    color: white;
    margin-top: 0px;
    font-size: 13px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-color: rgb(255, 255, 255);
    border-bottom-width: 0.01px;
    border-bottom-style: groove;
}
.section-title p{
    margin-left: 10px;
}

.section-content{
    display:flex;
    flex-direction: column;
}

.section-content p{
    margin-left: 20px;
    font-size: 13px;
}

.section-content a :hover{
    color: #68f8d9;
}

.section * {
    font-family: "code-font";
}

@media (max-width:500px){
    .nav-panel{
        flex-direction: row;
        width: 100%;
        justify-content: center;
        bottom: 2vh;
    }
    .section{
        width: 300px;
        height: 400px;
        font-size: 12px;
    }

    .nav-panel button{
        font-size: 1rem;
    }
}