@font-face {
    font-family: "main-font";
    src: url("../static/fonts/Orbitron-ExtraBold.ttf");
}

@font-face {
    font-family: "code-font";
    src: url("../static/fonts/RobotoMono-Bold.ttf");
}


canvas{
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position:absolute;
}

.progress-bar-container {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgb(48, 107, 109);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "main-font";
}

#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

label {
   color: white; 
   font-size: 2rem;
}

.nav-panel{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 2vw;
}

.nav-panel button:hover {
    color:#68f8d9;
    text-shadow:1px 1px 10px #68f8d9, 1px 1px 10px #fff;
    cursor: pointer;
}

.nav-panel button{
    font-family: "main-font";
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    margin-top: 20px;
}

.section {
background-color: rgb(67, 109, 148);
color: white;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width: 300px;
height: 400px;
display:none;
flex-direction: column;
align-items: center;
border-radius: 5px;
border-color: white;
border-width: 1px;
border-style: groove;
}

.section * {
    margin-top: 20px;
    font-family: "code-font";
}

@media (max-width:800px){
    .nav-panel{
        flex-direction: row;
        width: 100%;
        justify-content: center;
        bottom: 2vh;
    }
    .section{
        width: 150px;
        height: 200px;
        font-size: 12px;
    }
    .section * {
        margin-top: 10px;
    }

    .nav-panel button{
        font-size: 10px;
    }
}