
@font-face{
    font-family: regular;
    src:url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
    font-family: smooth;
    src:url(../fonts/Baloo_Tammudu_2/BalooTammudu2-Regular.ttf);
}

@font-face{
    font-family: thin;
    src:url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

body{
    margin:0px;
    font-family: regular;
    text-align: center;
}

a,a:visited,a:active{
    text-decoration: none;
    color: inherit;
  }

.icon{
    filter: brightness(0) invert(1);
}


#title-bg{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

#title-box{
    backdrop-filter: blur(5px);
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 60%;
    max-width: 700px;
    border: 2px solid white;
}

#title-box h1{
    font-family: thin;
}

#title-box p{
    font-family: smooth;
    margin-top: -10px;
}

#logo{
    width: 120px;
    margin-top: -50px;
}

#target-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.target-gallery-container{
    width:230px;
    height: 250px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.target{
    position:relative;
    width:100%;
    height:100%;
    transition: all 0.5s;
    display:flex;
    align-items:center;
    justify-content:center;
}

.gallery-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40%;
    
}

.img-cont{
    width: 70px;
    height: 70px;
}

.target img{
    width: 100%;
    height: 100%;
}



.target:before, .target:after, .target>:first-child:before, .target>:first-child:after{
    position:absolute;
    width:40px; height: 40px;
    border-color:black; /* or whatever colour */
    border-style:solid; /* or whatever style */
    content: ' ';
}

.target:before{
    top:0;left:0;
    border-width: 5px 0 0 5px;
}
.target:after{top:0;
    right:0;
    border-width: 5px 5px 0 0;
}
.target>:first-child:before{
    bottom:0;
    right:0;
    border-width: 0 5px 5px 0;
}
.target>:first-child:after{
    bottom:0;
    left:0;
    border-width: 0 0 5px 5px;
}

.target:hover{
    width:70%;
    height:70%;
}

footer{
    height: 50px;
}


@media (max-width:1000px){

    #title-box{
        font-size: 20px;
    }

    #logo{
        width: 90px;
        margin-top: -30px;
    }

    .img-cont{
        width: 50px;
        height: 50px;
    }

    .target-gallery-container{
        width:150px;
        height: 260px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .gallery-text{
        height: 60%;
    }

    .target:before, .target:after, .target>:first-child:before, .target>:first-child:after{
        width:20px; height: 20px;
    }

}

@media (max-width:650px){
    #target-gallery{
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .target-gallery-container{
        width: 400px;
        flex-direction: row;
    }

    .gallery-text{
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }

    .content{
        height: 60%;
    }

}
